<!-- Base badge component template -->
<<%= tag_name %> <%= badge_attributes.map { |k, v| "#{k}=\"#{v}\"" unless v.nil? }.compact.join(" ").html_safe %>>
  <%= content %>
  <% if removable %>
    <button type="button" class="<%= remove_button_classes %>" data-action="click->badge#remove">
      <span class="sr-only">Remove</span>
      <svg viewBox="0 0 14 14" class="h-3 w-3">
        <path d="m8.887 7 1.868-1.868c.248-.248.248-.651 0-.899a.637.637 0 0 0-.899 0L8 6.113 6.132 4.245a.637.637 0 0 0-.899 0 .637.637 0 0 0 0 .899L7.113 7l-1.88 1.868a.637.637 0 0 0 0 .899c.248.248.651.248.899 0L8 7.887l1.868 1.88a.637.637 0 0 0 .899 0 .637.637 0 0 0 0-.899L8.887 7z"/>
      </svg>
    </button>
  <% end %>
</<%= tag_name %>>
